/.vs
/src/MetadataBuilder/bin
/src/MetadataBuilder/obj
/samples/MvcWeb/obj
/samples/MvcWeb/bin
/samples/MvcWeb/node_modules
/samples/BasicSpMetadata/BasicSpMetadata.csproj.user
/samples/BasicSpMetadata/bin
/samples/BasicSpMetadata/obj
/src/saml2.metadata/obj
/src/saml2.metadata/bin
/src/xsd.flattening/obj
/src/xsd.flattening/bin
/src/Xsd.IncludeImport/obj
/src/Xsd.IncludeImport/bin
/samples/RichSpMetadata/RichSpMetadata.csproj.user
/samples/RichSpMetadata/bin
/samples/RichSpMetadata/obj
/src/saml2.metadata/.AssemblyAttributes
