@page "/"

<PageTitle>Home</PageTitle>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <h5 class="card-header">Service Provider - Rich etadata</h5>
            <div class="card-body">
                <p class="card-text">
                    The metadata generated includes:
                    <ul>
                        <li>Assertion consuming endpoint</li>
                        <li>Single logout endpoint</li>
                        <li>Contact values</li>
                        <li>Organization values</li>
                    </ul>
                </p>
                <a asp-action="create" asp-controller="home" class="btn btn-primary">Try it out</a>
            </div>
        </div>
    </div>
</div>
